body {
    background-color: lightgreen;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
    border-radius: 50%;
}

.foto {
    text-align: center;
}

span {
    text-decoration: underline;
    background-color: white;
}

.descricao {
    font-family: monospace;
}

.resolucao {
    font-size: 24px;
}

.organizacao {
    font-size: 22px;
}

.empatia {
    font-size: 20px;
}

.confianca {
    font-size: 18px;
}

.humildade {
    font-size: 16px;
}